


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel{
  padding: 5rem;
  background-color: #000;
  color:#fff;
  height: 100vh;
  width: 100vw;
  
}

.box{
 
  height: 60vh;

}
.box h2{
  text-align: center;
}

.slick-slide div{
  margin: 0 1rem ;
}

.slick-next{
  right: -40px !important;
}

.slick-dots li.slick-active button:before{
  color: rgb(3, 3, 58) !important; 
}

.slick-dots li button:before {
  color: #fff !important;
  font-size: 1rem !important;
  top: 2rem !important;
}

.background-image{
  background-image: url("../src/assets/background.png");
  height: 100vh;
  
}

.box{
  position: relative;
  width:400px;
  border-radius: 20px;
}

.image_img{
  display: block;
  width: 100%;
}

.image_overlay {
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  font-family:sans-serif;
  color:rgb(3, 3, 58);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity:0;
  transition: opacity 0.25s;
}

.image_overlay--blur {
  backdrop-filter:  blur(5px);
}

.image_overlay--primary {
  background: #fff;
  box-shadow: #fff;
}

.image_overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image_overlay:hover {
  opacity: 1;
}

.image_overlay:hover > * {
  transform: translateY(0);
}

.image_title {
  font-size: 2rem;
  font-weight: bold;
}

.image_description {
  font-size: 1rem;
  font-weight: normal;
  margin-top:0 25rem;
}



